{%extends 'base.html'%}{%block content%}

    <div class="jumbotron">
        <h1 class="display-4">CSS</h1>
        <p>
            CSS, sigla para Cascading Style Sheets (Folhas de Estilo em Cascata), é uma linguagem de estilo utilizada em conjunto com o HTML para controlar a aparência e o layout de elementos em uma página web. Enquanto o HTML é responsável pela estrutura do conteúdo, o CSS define como esse conteúdo deve ser apresentado visualmente.

O CSS funciona aplicando regras de estilo aos elementos HTML por meio de seletores. Um seletor é um padrão que corresponde a um ou mais elementos em um documento HTML. Por exemplo, um seletor pode ser o nome de uma classe, um identificador único ou o próprio nome do elemento HTML.

As regras de estilo são definidas em blocos de declarações dentro de uma folha de estilo CSS. Cada declaração é composta por uma propriedade e um valor separados por dois pontos. Por exemplo, a declaração "cor: azul;" define a cor do texto como azul. É possível ter várias declarações dentro de um bloco de declarações.

Além das propriedades básicas, como cor, fonte e tamanho de texto, o CSS permite controlar diversos aspectos do layout, como margens, preenchimentos, alinhamento, posição e efeitos visuais. Também é possível aplicar estilos condicionais com base em diferentes estados dos elementos, como hover (quando o mouse está sobre o elemento) e focus (quando o elemento está selecionado).

Uma das principais vantagens do CSS é a separação entre o conteúdo (HTML) e a apresentação (CSS). Isso permite que as alterações de estilo sejam feitas de forma centralizada, em uma folha de estilo externa, e aplicadas a várias páginas, tornando a manutenção e a atualização mais eficientes.

O CSS também suporta conceitos como herança, onde os elementos filhos herdam as propriedades dos elementos pais, e cascata, onde as regras de estilo podem ser especificadas em diferentes níveis e combinadas para determinar o estilo final de um elemento.

Em resumo, o CSS é uma linguagem de estilo utilizada para controlar a aparência e o layout de elementos em uma página web. Ele permite definir propriedades e valores para alterar cores, fontes, tamanhos, margens, alinhamentos e muitos outros aspectos visuais. A separação entre HTML e CSS permite uma melhor organização do código e facilita a manutenção e atualização dos estilos. Com o CSS, é possível criar páginas web visualmente atraentes e personalizadas.
        </p>
    </div>
{%endblock%}