{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Alunos</title>

    <link rel="stylesheet" href="{% static '/css/alunos/styleindex.css'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

</head>
<body>
    
    <div class="container">
        <img src="{%static 'imgs/background.png'%}" alt="" class="background">
        
        <main class="login">
            <h1 class="my-text">Registrar</h1>
            <h2 class="my-text">Faça seu registro</h2>

            {% comment %} {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert-error">
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %} {% endcomment %}

            <form id="form-login" action="{%url 'cadastro'%}" method="POST">
                {% csrf_token %}
                <div>
                    <span class="material-icons">person_outline</span>
                    <input name="username" type="text" placeholder="Username" required>
                </div>

                <div>
                    <span class="material-icons">lock</span>
                    <input name="password" type="password" placeholder="Password" required>
                </div>
                <button type="submit">Registrar</button>
            </form>

            <a href="{%url 'login'%}">
                LogIn
                <span class="material-icons">login</span>
            </a>

        </main>

    </div>

    <footer class="m-footer">
        <div>
            <a href="https://github.com/BrenndonCJ/Site_Controle_Financeiro" target="_blank">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://twitter.com/BrenndonCJ" target="_blank">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="https://www.instagram.com/brenndoncj/" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </footer>
    
</body>
</html>