.modal-sobre {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.m-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 50%;
}

.active-modal {
    display: flex;
}

.header-sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header-sobre > h1 {
    margin-left: 50%;
    transform: translate(-50%);
}

.header-sobre > button {
    border: none;
    background: transparent;
}

.header-sobre > button:hover {
    border-radius: 5px;
    background: #00000050;
    text-align: center;
    height: 25px;
}

.describle {
    display: flex;
    flex-direction: column;
}

.describle p {
    margin: 3px 15px;
    text-align: justify;
}

@media (max-width: 1000px){
    .m-modal {
        width: 90%;
    }

    .header-sobre > h1 {
        margin-left: 10px;
        transform: none;
    }
}